# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore all texture files as per rules of 
# http://www.textures.com/terms-of-use.html
# section 2.2, g). Better safe than sorry.
textures
*.png
*.jpg
*.xcf

# Ignore codeblocks files
*.cbp
*.layout
*.depend
